/* html,body {
    width: 100%;
    height: 50%;
}
.card {
    width: 40%;
    height: 50px;
} */
/* .card-top {
    background: black;
    color: white;
}
.card-bottom {
    color: red;
}
.card-bottom-toggle {
    color: blue;
} */